#!/usr/bin/make -f

# Copyright (c) 2015 Jürgen Hermann
# Copyright (c) 2016 SIPHON (Derived work)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

PACKAGE=$(shell dh_listpackages)
VERSION=$(shell dpkg-parsechangelog --show-field Version)
SDIST_DIR=debian/$(PACKAGE)-$(VERSION)

clean:
	test ! -d dist || rm -rf dist
	test ! -d $(SDIST_DIR) || rm -rf $(SDIST_DIR)
	dh $@

build-arch:
	python3 setup.py sdist --formats tar
	mkdir -p $(SDIST_DIR)
	tar -x -C $(SDIST_DIR) --strip-components=1 --exclude '*.egg-info' -f dist/*.tar
	dh $@ --with python-virtualenv --sourcedirectory $(SDIST_DIR)

%:
	dh $@ --with python-virtualenv --sourcedirectory $(SDIST_DIR)

override_dh_virtualenv:
	dh_virtualenv --python python3
